<%= form_with model: @paste do |f| %>
  <div class="form-group w-1/2">
    <%= f.label :content, class: "form-label" %>
    <%= f.rich_text_area :content %>
  </div>

  <div class="form-group w-1/2">
    <div class="form-group">
      <%= f.label :category, class: "form-label" %>
      <%= f.text_field :category, class: "form-input", "aria-label": "Email" %>

      <%= f.label :tags, class: "form-label" %>
      <%= f.text_field :tags, class: "form-input", "aria-label": "Email" %>

      <%= f.label :paste_expiration, class: "form-label" %>
      <%= f.text_field :email, class: "form-input", "aria-label": "Email" %>

      <%= f.label :paste_exposure, class: "form-label" %>
      <%= f.text_field :email, class: "form-input", "aria-label": "Email" %>

      <%= f.label :folder, class: "form-label" %>
      <%= f.text_field :email, class: "form-input", "aria-label": "Email" %>

      <%= f.label :password, class: "form-label" %>
      <%= f.text_field :email, class: "form-input", "aria-label": "Email" %>

      <%= f.label :paste_name, class: "form-label" %>
      <%= f.text_field :email, class: "form-input", "aria-label": "Email" %>
    </div>
  </div>
<% end %>

  <%= render "shared/footer" %>
